body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 35pt;

    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    background-color: #222;
    padding: 10px;
    box-sizing: border-box;
}

#container {
    flex-grow: 1;
    display: flex;
}

#sidebar {
    background-color: #333;
    min-width: 25vw;
    max-width: 35vw;
    padding: 10px;
    box-sizing: border-box;
}

#content {
    background-color: #111;
    flex-grow: 1;
    padding: 10px;
}
