body {
    background-color: #222;
    color: #fff;
    font-size: 40px;
    font-family: "DejaVu Sans", sans-serif;

    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.code {
    font-family: monospace;
}

.pad {
    padding: 10px;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;

    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;

    min-height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-container {
    background-color: #222;
    overflow-x: scroll;
}

#header-clock {
    white-space: nowrap;
}

#sidebar-content-container {
    flex-grow: 1;
    display: flex;
}

#sidebar-container {
    background-color: #333;
    max-width: 40%;
    overflow-x: scroll;
}

#sidebar {
    min-height: 100%;
}

#content-container {
    background-color: #111;
    flex-grow: 1;
    overflow-x: scroll;
}

/* Div Margin */
.div-margin-horizontal-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.div-margin-vertical-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.div-margin-horizontal, .div-margin-vertical {
    display: block;
}

/* END: Div Margin */

.sidebar-margin-horizontal {
    width: 15px;
    min-width: 15px;
}
.sidebar-margin-vertical {
    height: 10px;
    min-height: 10px;
}

.content-margin-horizontal {
    width: 15px;
    min-width: 15px;
}
.content-margin-vertical {
    height: 10px;
    min-height: 10px;
}

.header-margin-horizontal {
    width: 15px;
    min-width: 15px;
}
.header-margin-vertical {
    height: 10px;
    min-height: 10px;
}

.cpu-bar {
    transition: width 0.25s ease-out;
}
